/*
    Created on : 08/19/2017
    Author     : Mihai Avram
    E-Mail: mihai.v.avram@gmail.com
*/

#echoGlobalLogistics
{
  width: 150px;
  height: 50px;
}

#connect
{
  font-size: 30px;
}

#headerName
{
  margin-top: 0.5rem;
  text-align: center;
}

#myHeadshot
{
  margin: 5%;
  display: inline-block;
}

#myHeadshot img
{
  border: 5px solid gray;
}

@media screen and (max-width: 1250px) {
    #myHeadshot {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      display: block;
      margin: 0%;
    }
}

@media screen and (max-width: 1250px) {
    #myHeadshot img {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      display: block;
    }
}


#headerText
{
  float: middle;
  vertical-align: top;
  display: inline-block;
}


#siteContents button
{
  display: none;
}

#headerContents
{
  display: inline-block;
  color: black;
}

@media screen and (max-width: 1250px) {
    #headerContents {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      display: block
    }
}

#navButtons
{
  margin-top: 5%;
  vertical-align: top;
  display: inline-block;
}

@media screen and (max-width: 1250px) {
    #navButtons {
      margin-top: 0%;
    }
}

.selected {
    color:#505739;
}

.projectTemplate
{
  display: flex;
  border: 2px solid black;
  margin: 1%;
}

@media screen and (max-width: 1000px) {
    .projectTemplate {
        display: inline-block;
    }
}

.projectTemplate div
{
  display: inline-block;
  margin: 1%;
}

.publication
{
  margin-top: 2rem;
}

.projectTemplate img
{
  width: 150px;
  height: 150px;
  border: 2px solid black;
}

.myResume
{
    height: 1000px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block
}

.centerContents {
  border-radius: 25px;
  padding: 10px;
  width: 90%;
  background-color: rgb(192,192,192);
  float: middle;
  font-size: 20px;
  height: auto;
  min-height: 600px;
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.myButtons
{
  display: inline;
  font-size: 22px;
}

html
{
  height: auto;
  width: auto;
  border: 5px solid #ededed;
  margin: 0;
}

body
{
    height: auto;
    width: auto;
    float: center;
    border: 10px solid white;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    left: 0;
    margin: 0;
}

header
{
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(192,192,192);
}


ul.connectContents
{
  list-style-type: none;
}

ul.connectContents li
{
  margin: 1%
}

nav div
{
    height: 50px;
    list-style-type: none;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: rgb(88, 88, 88);
}

nav button
{
    height: 100%;
    width: 150px;
    font-size: 15px;
    display: block;
    justify-content: center;
}

section
{
    border-radius: 25px;
    padding: 10px;
    width: 90%;
    background-color: rgb(192,192,192);
    float: middle;
    font-size: 20px;
    height: auto;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

button:focus {
    color:#505739;
}

button:hover {
    color:#505739;
}

@media screen and (max-width: 1000px) {
    button {
      margin: 10px;
    }
}

section div {
    display: none;
}

a {
    text-decoration: none;
    font-weight: bold
}

a:link {
    text-decoration: underline;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(255,248,220);
}

footer {
    position: relative;
    text-align: center;
    vertical-align: baseline;
}

footer span {
    text-align: center;
}

#topmost-container {
  position: relative;
  min-height: 100vh;
}

#main-content {
  padding-bottom: 3rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
