/*
    Created on : 08/19/2017
    Author     : Mihai Avram
    E-Mail: mihai.v.avram@gmail.com
*/

#headerName
{
  margin-top: 0.5rem;
  text-align: center;
}

#myHeadshot
{
  margin: 1%;
  display: inline-block;
}

#myHeadshot img
{
  border-radius: 5%;
  border: 2px solid gray;
}

@media screen and (max-width: 1250px) {
    #myHeadshot {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      display: block;
      margin: 0%;
    }
}

@media screen and (max-width: 1250px) {
    #myHeadshot img {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      display: block;
    }
}

#headerText
{
  float: middle;
  vertical-align: top;
  display: inline-block;
}

#aboutPage
{
  text-align: middle;
  background-color: rgb(255,248,220);
}

#siteContents button
{
  display: none;
}

#headerContents
{
  display: flex;
  align-items: center;
  color: black;
}

#navButtons
{
  align-content: center;
  padding-left: 4rem;
  margin-top: 5%;
  vertical-align: top;
  display: inline-block;
}

@media screen and (max-width: 1250px) {
    #navButtons {
      margin-top: 0%;
    }
}

@media screen and (max-width: 1250px) {
    #headerContents {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      display: block
    }
}

.navButtons {
  display: block
}

.navButtons ul {
  margin: 0 auto 0;
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
}
.navButtons li {
  display: inline-block;
  position: relative;
  padding: 15px 0;
}
.navButtons a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.navButtons a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  bottom: -3px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navButtons a:hover:after {
  width: 100%;
  left: 0;
}

.selectedNavButton {
  border-bottom: 3px solid black;
}

.nonSelectedNavButton {
  border: none;
}

@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
